    .header-div {
        background-color: lightblue;
        padding: 1%;
    }

    .header-inner-div {
        display: flex;
        justify-content: space-between;
    }

    .links-div {
        width: 40%;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    ul {
        list-style: none;
    }

    li {
        font-size: 1.5rem;
        font-style: italic;
    }

    .links-list {
        display: flex;
        justify-content: space-around;
    }

    .logo-img {
        height: 70px;
        width: 160px;
    }